/* navbar */
:root {
  --color-primary: #b80c09;
  --color-secondary-light: #01baef;
  --color-secondary-dark: #0b4f6c;

  --color-secondary-light-8: rgba(1, 187, 239, 0.8);
  --color-secondary-dark-8: rgba(11, 79, 108, 0.8);

  --color-gray-light: #fbfbff;
  --color-gray-dark: #040f16;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.navbar {
  font-size: 18px;
  background: var(--color-gray-dark);
  border: 1px solid black;
  padding-bottom: 10px;
}

.first-nav {
  list-style-type: none;
  display: none;
}

.links,
.main-logo {
  text-decoration: none;
  color: var(--color-gray-light);
  font-weight: 300;
  font-size: 0.8rem;
}

.main-logo img {
  background: white;
  border-radius: 50%;
  padding: 0.2rem;
  width: 2.5rem;
}

.first-nav li {
  text-align: center;
  margin: 15px auto;
}

.main-logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: var(--color-gray-light);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .first-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .first-nav li {
    margin: 0;
  }

  .links {
    margin-left: 40px;
  }

  .main-logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .main-logo:hover,
  .links:hover {
    color: rgba(255, 255, 255, 1);
  }
}

/* banner/header */

.banner {
  background-image: linear-gradient(to right,
    var(--color-secondary-light-8),
    var(--color-secondary-dark-8)),
    url("../img/taxes-tax-evasion-police-handcuffs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.banner_container {
  padding: 15vh 0 0 0;
  justify-content: center;
  text-align: center;
}

.banner_container--title {
  padding: 3rem;
  font-size: 2rem;
}

.banner_container--desc {
  font-size: 1.2rem;
}

/* features */

.feature {
  background: var(--color-gray-light);
}

.container {
  /*padding: 3rem;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h1 {
  text-align: center;
  padding-bottom: 0.3rem;
  border-bottom: 0.3rem solid var(--color-secondary-dark);
}

.features_container-title {}

.feature-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  border: 1px solid rgba(4, 15, 22, 0.8);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  width: 30rem;
  margin: 3rem 0 3rem 0;
}

.card img {
  width: 100%;
  height: 20%;
}

.card-body {
  padding: 1rem;
}

.card-title {
  color: var(--color-primary);
  font-size: 1.4rem;
}

.card-desc {
  font-size: 1rem;
}

/* footer */

.footer {
  padding: 1rem;
  bottom: 0;
  background-color: #efefef;
  text-align: center;
}

/* Sign-up */

.textarea {
  font-family: Arial, Helvetica, sans-serif;
}

.auth {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 6%;
  margin: 0;
}

.auth-form {
  justify-content: center;
}

form {
  background-color: rgba(1, 187, 239, 0.8);
  padding: 3rem;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.form-group-spacing {
  display: flex;
  flex-direction: row;

  padding: 3rem 0 0 0;
}

.form-group {
  display: flex;
  flex-direction: row;
  padding: .3rem 0 .3rem 0;
}

.form-group label {
  flex: none;
  display: block;
  width: 125px;
  font-weight: bold;
  font-size: 1em;
}

.form-group label.right-inline {
  text-align: right;
  padding-right: 8px;
  padding-left: 10px;
  width: auto;
}

.form-group .input-control {
  flex: 1 1 auto;
  display: block;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 4px;
  margin-top: -4px;
}

button {
  padding: 5px 15px;
  margin: 5px;
  min-width: 100px
}

@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
  }

  .form-group .input-control {
    margin-top: 2px;
  }

  .form-group label.right-inline {
    text-align: left;
    padding-right: 0;
    padding-left: 0;
  }
}

.sign-up-message {
  text-align: center;
  padding: 5px;
}

/* USER PROFILE SIDE PANEL STYLING. */
.panel {
  width: 20rem;
  height: 100%;
  background-color: #22313F;
  float: left;
}

.panel-body {
  margin: .5rem;
  padding: 1rem;
}

.panel-body ul>li {
  text-decoration: none;
  margin: 1.5rem;
  list-style: none;
}

.panel-body ul li a {
  color: #fbfbff;
  text-decoration: none;
}

.panel-body ul li a:hover {
  color: #fbfbff;
}

/* USER PROFILE MAIN PANEL STYLING. */
.main-panel {
  width: 80rem;
  float: right;
  margin-left: 5px;
}

.main-panel .btn-1 {
  text-align: center;
}

.main-panel .main-panel__box {
  width: 13.5rem;
  height: 10rem;
  background: #ECEFF1;
  margin-left: 8px;
  margin-top: 1rem;
  border-radius: 5px;
}

.main-panel a {
  text-decoration: none;
  float: left;
}

.main-panel .main-panel__box-header {
  padding: .5rem;
  color: #2c3e50;

}

.main-panel .main-panel__box-body {
  color: #2c3e50;
  font-size: 1.2rem;
  margin-left: 5px;
}

.main-panel .main-panel__box-body .icon1 {
  font-size: 5rem;
  color: #22313F;
}

.main-panel .main-panel__box-body .icon2 {
  font-size: 5rem;
  color: #CF000F;
}

.main-panel .main-panel__box-body .icon3 {
  font-size: 5rem;
  color: #1BBC9B;
}

.main-panel .main-panel__box-body .icon4 {
  font-size: 5rem;
  color: #049372
}

/* create a red flag button design */
.main-panel .btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
  width: auto;
  margin-top: 5px;
  display: inline-block;
  border-radius: 1.5rem;
  transition: all .2s;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  background: rgba(1, 187, 239, 0.8);
  color: #fff;
}


.btn:hover {
  transform: translateY(.1rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* RED FLAG STYLING */
/* Table styling */
.table {
  margin-top: 5.5rem;
  text-align: center;
}


.red-flag-form {
  margin-top: 1rem;
  background-color: rgba(1, 187, 239, 0.8) !important;
  font-size: 1.2rem;
  width: 80%;
  margin-left: 8rem;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: .1rem solid #dddddd;
  text-align: left;
  padding: .8rem;
}

tr:nth-child(even) {
  background-color: rgba(1, 187, 239, 0.8);
  color: #fff;
}

tr:nth-child(odd) {
  background-color: #EEEEEE;
  color: #2C3E50;
}


.main-panel .btn-1 {
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem;
  text-align: center;
  width: 50%;
  margin-top: 5px;
  display: inline-block;
  border-radius: .8rem;
  transition: all .2s;
  position: relative;
  font-size: 1rem;
  background: rgba(1, 187, 239, 0.8);
  color: #fff;
}

.btn-wrapper {
  text-align: center;
}

input[type='text'] {
  padding: .5rem;
  border-radius: .4rem;
  width: 100%;
  margin: .8rem 0;
  border-radius: .4rem;
  box-sizing: border-box;

}

input[type='file'] {
  padding: .3rem;
  border-radius: .4rem;
  width: 100%;
  margin: .8rem 0;
  border-radius: .4rem;
  box-sizing: border-box;

}

input[type='submit'] {
  padding: .5rem;
  border-radius: .5rem;
  margin-top: .5rem;
  background-color: #22313F;
  color: #fff;
  font-size: 1rem;

}

input[type='text']::selection {
  color: none;
  background: none;
}

.update a {
  color: #ECF0F1;
  background: #ff8f00;
  padding: .8rem;
  border-radius: .9rem;
}

.delete a {
  color: #ECF0F1;
  background: #f44336;
  padding: .8rem;
  border-radius: .9rem;
}